server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

client:
  url: {{ groups['loki'][0] }}:3100/loki/api/v1/push

scrape_configs:
  - job_name: journal
    journal:
      max_age: 1h
      path: /var/log/journal
    labels:
      job: systemd
      host: "{{ inventory_hostname }}"
    relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: 'unit'
  - job_name: apache
    static_configs:
      - targets:
          - localhost
        labels:
          job: apache
          __path__: /var/log/apache2/*.log
          host: "{{ inventory_hostname }}"
    pipeline_stages:
      - match:
          selector: '{job="apache"}'
          stages:
            - regex:
                expression: '^(?P<client_ip>[^ ]*) - - \[(?P<timestamp>[^\]]*)\] "(?P<request_method>[A-Z]+) (?P<request_path>[^"]+) HTTP/(?P<http_version>[0-9.]+)" (?P<response_code>\d+) (?P<response_size>\d+) "(?P<referrer>[^"]*)" "(?P<user_agent>[^"]*)"$'
            - labels:
                client_ip:
                request_method:
                request_path:
                http_version:
                response_code:
                response_size:
                referrer:
                user_agent:
